.add-activities-header {
    background: url("/static/imgs/c.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
    height: 200px;
}

.add-activity-input {
    background-color: #515BAD;
    font-size: 14px;
}

.add-activity-input:focus {
    outline: none;
}

.add-activity-screen-container {
    background-color: #ffffff;
}

.add-activity-form-container {
    color: #27307F;
}

.add-activity-description-input {
    background-color: #ECECEC;
    width: 100%;
}

.add-activity-type.active {
    background-color: #3643B5;
    color: #ffffff;
}

.add-activity-type.active img {
    filter: brightness(0) invert(1);
}

.add-activity-type {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    width: 100px;
    height: 100px;
}

.add-activity-type-img {
    width: 30px;
    height: 30px;
}